@media only screen
and (min-width : 1145px) {
/* Styles */

  body {
    color: #FF6F61;
    background-color: #FFF;
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;

  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  h1 {

    font-size: 24px;
    margin: 0;
    font-weight: 400;
    line-height: 20px;
    padding: 20px 2px;
    background-color: #006E6D;
    color: #FFF;

  }

  img {
      height: 50%;
      width: 15%;
      float: left;
      margin-top: 25px;
  }



  header {
    background-color: #006E6D;
    opacity: 0;
    color: #FFF;
    font-size: 20px;
    padding-left: 40px;
    position: absolute;
    height: 10%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }

  footer {
    background-color: #006E6D;
    color: #FFF;
    position: absolute;
    top: 99.5%;
    bottom: 0;
    left: 0;
    padding-left: 2%;
    height: 50px;
    width: 100%;
    border-top: 2px solid #FFF;

  }


  a {
    color: #77212E;
    text-decoration: none;
  }

  a:hover {
    color: #9B1B30;
  }
  .aboutWrapper {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url(montana.jpg);
      background-repeat: no-repeat;
      background-size: cover;

      z-index: 1;
  }

  .aboutWording {
    background: rgba(255, 255, 255, 0.9);
    color: black;
    position: absolute;
    width: 30%;
    height: 80%;
    left: 2%;
    right: 2%;
    top: 10%;

  }

  #RigContentHeader {
    background: #006E6D;
    /*border-bottom: 1px solid #eee;*/
    height: 60px;
    line-height: 60px;
    padding: 0 20px;



  }

  #RigContentBody {
    font-size: 15px;
    padding-top: 0;
    bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 400;
    line-height: 2;

    display: block;
    color: #CE5B78;
    font-weight: 700;

  }

  form {
    background: #006E6D;
  	border: 1px solid #006E6D;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
  	padding: 20px 30px 20px 30px;
  	color: #FFCBE2;
  	box-shadow: inset -1px -1px 3px #006E6D;
  	-moz-box-shadow: inset -1px -1px 3px #006E6D;
  	-webkit-box-shadow: inset -1px -1px 3px #006E6D;
  	border-radius: 3px;
  	border-radius: 3px;
  	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	font-weight: bold;
    width: 80%;



  }

  input {
    width: 100%;
    font-size: 16px;
    margin-right: 2%;
  }

  input[type=text] {
    background-color: #FFF;
    color: #CE5B78;
    text-align: center;

  }

  input[type=button] {
    background-color: #CE5B78; /* Green */
    border: none;
    margin-top: 2%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    font-size: 18px;
  }

  .mapWrapper {
    position: absolute;
    background: rgb(255,255,255,.9);
    bottom: 0;
    top: 10%;
    left: 38%;
    right: 2%;
    width: 60%;
    height: 80%;
    z-index: 1;
  }

  .sidebar {
    position: inherit;
    width: 33.3333%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  }

  .pad2 {
    padding: 0px;
  }

  .map {
    position: inherit;
    left: 33.3333%;
    width: 66.6666%;
    top: 0;
    bottom: 0;

  }

  .heading {
    background: #006E6D;
    /*border-bottom: 1px solid #eee;*/
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
  }

  .listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;

  }

  .listings .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
    
  }

  .listings .item:last-child { border-bottom: none; }

  .listings .item .title {
    display: block;
    color: #CE5B78;
    font-weight: 700;
  }

  .listings .item .title small { font-weight: 400; }

  .listings .item.active .title,
  .listings .item .title:hover { color: #CE5B78; }

  .listings .item.active {
    background-color: #f8f8f8;
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(206, 91, 120, 0.1);
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #CE5B78;
    border-radius: 0;
  }

  .clearfix { display: block; }

  .clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  /* Marker tweaks */
  .mapboxgl-popup {
    padding-bottom: 50px;
  }

  .mapboxgl-popup-close-button {
    display: none;
  }

  .mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding: 0;
    width: 180px;
  }

  .mapboxgl-popup-content-wrapper {
    padding: 1%;
  }

  .mapboxgl-popup-content h3 {
    background: #006E6D;
    color: #fff;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
  }

  .mapboxgl-popup-content h4 {
    margin: 0;
    color: #CE5B78;
    display: block;
    padding: 10px;
    font-weight: 400;
  }

  .mapboxgl-popup-content div {
    padding: 10px;
  }

  .mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
  }

  .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
  }

  .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #91c949;
  }

  .marker {
    border: none;
    cursor: pointer;
    height: 56px;
    width: 56px;
    background-image: url(kawaii.png);
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
  }
}

@media only screen
and (min-width : 922px)
and (max-width : 1145px) {
    body {
      color: #FF6F61;
      background-color: #FFF;
      font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
      margin: 0;
      padding: 0;
      -webkit-font-smoothing: antialiased;

    }

    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    h1 {

      font-size: 24px;
      margin: 0;
      font-weight: 400;
      line-height: 20px;
      padding: 20px 2px;
      background-color: #006E6D;
      color: #FFF;

    }

    img {
        height: 50%;
        width: 15%;
        float: left;
        margin-top: 25px;
    }



    header {
      background-color: #006E6D;
      opacity: 0;
      color: #FFF;
      font-size: 20px;
      padding-left: 40px;
      position: absolute;
      height: 10%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
    }

    footer {
      background-color: #006E6D;
      color: #FFF;
      position: absolute;
      top: 99.5%;
      bottom: 0;
      left: 0;
      padding-left: 2%;
      height: 50px;
      width: 100%;
      border-top: 2px solid #FFF;

    }


    a {
      color: #77212E;
      text-decoration: none;
    }

    a:hover {
      color: #9B1B30;
    }
    .aboutWrapper {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(montana.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        z-index: 1;
    }

    .aboutWording {
      background: rgba(255, 255, 255, 0.9);
      color: black;
      position: absolute;
      width: 30%;
      height: 80%;
      left: 2%;
      right: 2%;
      top: 10%;

    }

    #RigContentHeader {
      background: #006E6D;
      /*border-bottom: 1px solid #eee;*/
      height: 60px;
      line-height: 60px;
      padding: 0 20px;



    }

    #RigContentBody {
      font-size: 15px;
      padding-top: 1%;
      bottom: 10%;
      padding-left: 5%;
      padding-right: 5%;
      font-weight: 400;
      line-height: 2;

      display: block;
      color: #CE5B78;
      font-weight: 700;


    }

    form {
      background: #006E6D;
      border: 1px solid #006E6D;
      margin-top: 5%;
      margin-left: 10%;
      margin-right: 10%;
      margin-bottom: 10%;
      padding: 20px 30px 20px 30px;
      color: #FFCBE2;
      box-shadow: inset -1px -1px 3px #006E6D;
      -moz-box-shadow: inset -1px -1px 3px #006E6D;
      -webkit-box-shadow: inset -1px -1px 3px #006E6D;
      border-radius: 3px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      font-weight: bold;
      width: 80%;



    }

    input {
      width: 100%;
      font-size: 16px;
      margin-right: 2%;
    }

    input[type=text] {
      background-color: #FFF;
      color: #CE5B78;
      text-align: center;

    }

    input[type=button] {
      background-color: #CE5B78; /* Green */
      border: none;
      margin-top: 2%;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      width: 100%;
      display: inline-block;
      font-size: 18px;
    }

    .mapWrapper {
      position: absolute;
      background: rgb(255,255,255,.9);
      bottom: 0;
      top: 10%;
      left: 38%;
      right: 2%;
      width: 60%;
      height: 80%;
      z-index: 1;
    }

    .sidebar {
      position: inherit;
      width: 33.3333%;
      height: 100%;
      top: 0;
      left: 0;
      overflow: hidden;
      border-right: 1px solid rgba(0, 0, 0, 0.25);
    }

    .pad2 {
      padding: 0px;
    }

    .map {
      position: inherit;
      left: 33.3333%;
      width: 66.6666%;
      top: 0;
      bottom: 0;

    }

    .heading {
      background: #006E6D;
      /*border-bottom: 1px solid #eee;*/
      height: 60px;
      line-height: 60px;
      padding: 0 10px;
    }

    .listings {
      height: 100%;
      overflow: auto;
      padding-bottom: 60px;

    }

    .listings .item {
      display: block;
      border-bottom: 1px solid #eee;
      padding: 10px;
      text-decoration: none;
    }

    .listings .item:last-child { border-bottom: none; }

    .listings .item .title {
      display: block;
      color: #CE5B78;
      font-weight: 700;
    }

    .listings .item .title small { font-weight: 400; }

    .listings .item.active .title,
    .listings .item .title:hover { color: #CE5B78; }

    .listings .item.active {
      background-color: #f8f8f8;
    }

    ::-webkit-scrollbar {
      width: 3px;
      height: 3px;
      border-left: 0;
      background: rgba(206, 91, 120, 0.1);
    }

    ::-webkit-scrollbar-track {
      background: none;
    }

    ::-webkit-scrollbar-thumb {
      background: #CE5B78;
      border-radius: 0;
    }

    .clearfix { display: block; }

    .clearfix::after {
      content: '.';
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }

    /* Marker tweaks */
    .mapboxgl-popup {
      padding-bottom: 50px;
    }

    .mapboxgl-popup-close-button {
      display: none;
    }

    .mapboxgl-popup-content {
      font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
      padding: 0;
      width: 180px;
    }

    .mapboxgl-popup-content-wrapper {
      padding: 1%;
    }

    .mapboxgl-popup-content h3 {
      background: #006E6D;
      color: #fff;
      margin: 0;
      display: block;
      padding: 10px;
      border-radius: 3px 3px 0 0;
      font-weight: 700;
      margin-top: -15px;
    }

    .mapboxgl-popup-content h4 {
      margin: 0;
      color: #CE5B78;
      display: block;
      padding: 10px;
      font-weight: 400;
    }

    .mapboxgl-popup-content div {
      padding: 10px;
    }

    .mapboxgl-container .leaflet-marker-icon {
      cursor: pointer;
    }

    .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
      margin-top: 15px;
    }

    .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
      border-bottom-color: #91c949;
    }

    .marker {
      border: none;
      cursor: pointer;
      height: 56px;
      width: 56px;
      background-image: url(kawaii.png);
      background-size: contain;
      background-color: rgba(0, 0, 0, 0);
    }
  }


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 634px)
and (max-width : 922px) {
/* Styles */
  body {
    color: #FF6F61;
    background-color: #FFF;
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;

  }

  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  h1 {

    font-size: 24px;
    margin: 0;
    font-weight: 400;
    line-height: 20px;
    padding: 20px 2px;
    background-color: #006E6D;
    color: #FFF;

  }

  img {
      height: 50%;
      width: 15%;
      float: left;
      margin-top: 25px;
  }



  header {
    background-color: #006E6D;
    opacity: 0;
    color: #FFF;
    font-size: 20px;
    padding-left: 40px;
    position: absolute;
    height: 10%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
  }

  footer {
   
    background-color: #006E6D;
    color: #FFF;
    position: absolute;
    top: 99.5%;
    bottom: 0;
    left: 0;
    padding-left: 2%;
    height: 50px;
    width: 100%;
    border-top: 2px solid #FFF;
    
}

  }


  a {
    color: #77212E;
    text-decoration: none;
  }

  a:hover {
    color: #9B1B30;
  }
  .aboutWrapper {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url(montana.jpg);
      background-repeat: no-repeat;
      background-size: cover;

      z-index: 1;
  }

  .aboutWording {
    background: rgba(255, 255, 255, 0.9);
    color: black;
    position: absolute;
    width: 90%;
    height: 50%;
    left: 5%;
    right: 5%;
    top: 2%;

  }

  #RigContentHeader {
    background: #006E6D;
    /*border-bottom: 1px solid #eee;*/
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;



  }

  #RigContentBody {
    font-size: 15px;
    padding-top: 1%;
    bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 400;
    line-height: 2;

    display: block;
    color: #CE5B78;
    font-weight: 700;


  }

  form {
    position: inherit;
    background: #006E6D;
    border: 1px solid #006E6D;
    margin-top: 0;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 0;
    padding: 20px 30px 20px 30px;
    color: #FFCBE2;
    box-shadow: inset -1px -1px 3px #006E6D;
    -moz-box-shadow: inset -1px -1px 3px #006E6D;
    -webkit-box-shadow: inset -1px -1px 3px #006E6D;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: bold;
    width: 40%;



  }

  input {
    width: 100%;
    font-size: 16px;
    margin-right: 2%;
  }

  input[type=text] {
    background-color: #FFF;
    color: #CE5B78;
    text-align: center;

  }

  input[type=button] {
    background-color: #CE5B78; /* Green */
    border: none;
    margin-top: 2%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    font-size: 18px;
  }

  .mapWrapper {
    position: absolute;
    background: rgb(255,255,255,.9);
    bottom: 0;
    top: 54%;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 44%;
    z-index: 1;

  }

  .sidebar {
    position: inherit;
    width: 33.3333%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
  }

  .pad2 {
    padding: 0px;
  }

  .map {
    position: inherit;
    left: 33.3333%;
    width: 66.6666%;
    top: 0;
    bottom: 0;

  }

  .heading {
    background: #006E6D;
    /*border-bottom: 1px solid #eee;*/
    height: 60px;
    line-height: 60px;
    padding: 0 10px;
  }

  .listings {
    height: 100%;
    overflow: auto;
    padding-bottom: 60px;

  }

  .listings .item {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 10px;
    text-decoration: none;
  }

  .listings .item:last-child { border-bottom: none; }

  .listings .item .title {
    display: block;
    color: #CE5B78;
    font-weight: 700;
  }

  .listings .item .title small { font-weight: 400; }

  .listings .item.active .title,
  .listings .item .title:hover { color: #CE5B78; }

  .listings .item.active {
    background-color: #f8f8f8;
  }

  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-left: 0;
    background: rgba(206, 91, 120, 0.1);
  }

  ::-webkit-scrollbar-track {
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #CE5B78;
    border-radius: 0;
  }

  .clearfix { display: block; }

  .clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  /* Marker tweaks */
  .mapboxgl-popup {
    padding-bottom: 50px;
  }

  .mapboxgl-popup-close-button {
    display: none;
  }

  .mapboxgl-popup-content {
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding: 0;
    width: 180px;
  }

  .mapboxgl-popup-content-wrapper {
    padding: 1%;
  }

  .mapboxgl-popup-content h3 {
    background: #006E6D;
    color: #fff;
    margin: 0;
    display: block;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    font-weight: 700;
    margin-top: -15px;
  }

  .mapboxgl-popup-content h4 {
    margin: 0;
    color: #CE5B78;
    display: block;
    padding: 10px;
    font-weight: 400;
  }

  .mapboxgl-popup-content div {
    padding: 10px;
  }

  .mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
  }

  .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
  }

  .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #91c949;
  }

  .marker {
    border: none;
    cursor: pointer;
    height: 56px;
    width: 56px;
    background-image: url(kawaii.png);
    background-size: contain;
    background-color: rgba(0, 0, 0, 0);
  }
}


/* Smartphones (portrait) ----------- */
@media only screen
and (min-width : 200px) {
/* Styles */
}